<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
  <p>Name:<input type="name</p>
  <p>Email:<input </p>
  <p>Password:<input </p>
  <input type="submit" id="submit" value="submit">
</form>