<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <input User: @user.name > <br>
  <input Email: @user.email > <br>
  <input Password: @user.password > <br>
  <input type="submit" value="submit">
</form>

