<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  Name:<input type="text" name=@user.name id=@user.id > <br>
  Email:<input type="text" name=@user.email id=@user.id > <br>
  Password:<input type="text" name=@user.password id=@user.id> <br>
  <input type="submit" value="submit">
</form>

